#!/bin/bash

set -ex

apt-get update -y

apt-get install -y software-properties-common

wget -q -O - https://packages.grafana.com/gpg.key | gpg --dearmor -o /usr/share/keyrings/grafana.gpg

echo "deb [signed-by=/usr/share/keyrings/grafana.gpg] https://packages.grafana.com/oss/deb stable main" > /etc/apt/sources.list.d/grafana.list

apt-get update -y

apt-get install grafana -y

mkdir -p /etc/grafana/provisioning/datasources

cat > /etc/grafana/provisioning/datasources/prometheus.yml <<EOF
apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://${prometheus_ip}:9090
    isDefault: true
    editable: false
EOF

systemctl daemon-reload
systemctl enable grafana-server
systemctl start grafana-server

# Ensure Grafana reloads the datasource provisioning file
systemctl restart grafana-server